/* Import library nib */
@import 'nib'

/* Import normalize */
@import 'normalize'

/* Import mediaQueries*/
@import 'mediaQueries'

/*Impor fonts*/
@import 'fonts'

/* Reset */
h1,h2,h3,h4,h5,h6,ul,li,p
    margin 0
    padding 0
  
html,body
    height 100%
  
body
    font-size 62.5% //for job with fonts in 'em' (10px=1em)
    font-family $rale

