media(num)
    condition = 'screen and (min-width: %s)' % num
    @media condition
        {block}
  
l1-min-width=200px
l1-max-width=460px
  
l2-min-width=460px
l2-max-width=759px
  
l3-min-width=760px
l3-max-width=989px