#listNotes
	.item-media
		width 80px
		height 80px
		background-position top center
		background-repeat no-repeat
		background-size cover

	.item-subtitle
		color #0080C9
		font-size 10px
		text-transform uppercase

#title
	overflow: visible;
	white-space: normal;
	line-height: 1.5em;

#image
	img
		width 100%
		display block

#logo
	img
		width 30px
		height 30px